@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  /* background: rgb(10,0,182);
  background: -moz-linear-gradient(90deg, rgba(10,0,182,1) 0%, rgba(0,212,255,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(10,0,182,1) 0%, rgba(0,212,255,1) 100%);
  background: linear-gradient(90deg, rgba(10,0,182,1) 0%, rgba(0,212,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a00b6",endColorstr="#00d4ff",GradientType=1); */
}
